<html>
<head>
  <% include partials/head %>
</head>

<body class="text-center">
  <div class="container-fluid h-100">
    <div class="row h-100">
        <% include partials/left %>

        <% include partials/right_start %>
        <div class="text-center">
      <h1 class="cover-heading"><%= title %></h1>

      <a href="/draws/new" class="btn btn-lg btn-danger">Add</a>

      <div class="card m-5">
      <% draws.forEach(function(draw){ %>
      <div class="input-group">
      <label class="form-control"> <%= draw.name %> </label>
      <div class="input-group-append">
        <a href="/draws/<%=draw._id%>" class="btn btn-secondary">Edit</a>
        <a href="" class="deleteDraw btn btn btn-danger" data-id="<%=draw._id%>">Delete</a>
      </div>
      </div>
      <% }) %>
    </div>

        <%if (modal) { %>
          <div class="alert alert-success" role="alert">
            <%=modalText%>
          </div>
          <% } %>

          <% include partials/right_end %>
              </div>
            </div>
      </div>
    </body>
    </html>
