<html>
<head>
  <% include partials/head %>
</head>

<body class="text-center">
  <div class="container-fluid">
            <% include partials/navbar %>



      <div class="container">
        <div class="row">
          <% if (draw.name != null && draw.name != '') {%>
          <div class="col-4">
          <div class="btn-group-vertical" role="group">
          <a href="/draw/members/<%=draw._id%>/" class="btn btn btn-danger">Members</a>
          <a href="/draw/matches/<%=draw._id%>/" class="btn btn btn-primary">Matches</a>
          <a href="#" class="btn btn btn-info">Send</a>
          <a href="#" class="btn btn btn-default">Draw</a>
          <a href="#" class="btn btn btn-danger">Draw & Send</a>
        <!--<a href="/login/" class="btn btn-lg btn-default">Log In</a> TODO Create login -->
        </div>
      </div>
      <div class="col-8">
        <form class="form-signin" method="POST" action="/draws/<%=operation%>">
          <h1 class="h3 mb-3 font-weight-normal"><%= title %></h1>
          <label for="inputName" class="sr-only">Name</label>
          <input type="text" value="<%=draw.name%>" id="inputName" name="name" class="form-control" placeholder="Name"  required autofocus>
          <input type="hidden" value="<%=draw._id%>" id="inputId" name="id" class="form-control">
          <button class="btn btn-lg btn-danger btn-block" type="submit">Save</button>
        </form>
      </div>
            <%} else {%>
              <div class="col-12">
                <form class="form-signin" method="POST" action="/draws/<%=operation%>">
                  <h1 class="h3 mb-3 font-weight-normal"><%= title %></h1>
                  <label for="inputName" class="sr-only">Name</label>
                  <input type="text" value="<%=draw.name%>" id="inputName" name="name" class="form-control" placeholder="Name"  required autofocus>
                  <input type="hidden" value="<%=draw._id%>" id="inputId" name="id" class="form-control">
                  <button class="btn btn-lg btn-danger btn-block" type="submit">Save</button>
                </form>
              </div>
              <% } %>
      </div>
    </div>

      <%if (modal) { %>
        <div class="alert alert-success" role="alert">
          <%=modalText%>
        </div>
        <% } %>




            </div>

    </div>
  </body>
  </html>
