<html>
  <head>
    <% include partials/head %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <% include partials/header %>
        </header>

        <main role="main" class="inner cover">

               <form class="form-signin" method="POST" action="/draws/<%=operation%>">
                  <h1 class="h3 mb-3 font-weight-normal"><%= title %></h1>
                   <label for="inputName" class="sr-only">Name</label>
                    <input type="text" value="<%=draw.name%>" id="inputName" name="name" class="form-control" placeholder="Name"  required autofocus>
                    <input type="hidden" value="<%=draw._id%>" id="inputId" name="id" class="form-control">
                   <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
               </form>

               <%if (modal) { %>
                 <div class="alert alert-success" role="alert">
                   <%=modalText%>
                 </div>
              <% } %>

        </main>
        <footer class="mastfoot mt-auto">
        <div class="inner">
          <% include partials/footer %>
        </div>
      </footer>
    </div>
  </body>
</html>
