<html>
<head>
  <% include partials/head %>
</head>

<body class="text-center">
  <div class="container-fluid">



        <% include partials/navbar %>


        <div class="text-center">
      <h1 class="cover-heading"><%= title %></h1>

      <a href="#" data-id="<%=draw._id%>" class="rollDraw btn btn-lg btn-danger">Roll</a>
      <a href="#" data-id="<%=draw._id%>" class="sendDraw btn btn-lg btn-success">Send</a>

      <div class="list-group">
        <% matches.forEach(function(match){ %>
          <div class="list-group-item list-group-item-action" type="password" ><%= match.fromName %> - <%= match.toName %>
          </div>


          <div class="btn-group" role="group">
            <!--<a href="/match/<%=match._id%>" class="btn btn btn-default">Edit</a>
            <a href="" class="deleteMatch btn btn btn-danger" data-id="<%=match._id%>">Delete</a> -->
          </div>
          <% }) %>
        </div>

        <%if (modal) { %>
          <div class="alert alert-success" role="alert">
            <%=modalText%>
          </div>
          <% } %>



              </div>
      </div>
    </body>
    </html>
