<html>
<head>
  <% include partials/head %>
</head>

<body class="text-center">
  <div class="container-fluid">


      <% include partials/navbar %>


<div class="text-center">
        <% users.forEach(function(user){ %>

          <div class="input-group">
          <label type="text" class="form-control"> <%= user.first_name %>(<%= user.email %>)</label>
          <div class="input-group-append">
            <button class="selectUser btn btn-outline-danger" type="button" data-user="<%=user._id%>" data-draw="<%=draw._id%>">Select</button>
          </div>
            </div>
          <% }) %>


      <%if (modal) { %>
        <div class="alert alert-success" role="alert">
          <%=modalText%>
        </div>
        <% } %>



</div>
    </div>

  </body>
  </html>
