<html>
<head>
  <% include partials/head %>
</head>

<body class="text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <% include partials/header %>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading"><%= title %></h1>

      <a href="/members/new/<%=draw._id%>" class="btn btn-lg btn-primary">Add</a>

      <% members.forEach(function(member){ %>
      <div class="input-group">
          <label class="form-control"><%= member.userName %></label>
          <div class="input-group-append" >
            <a href="/member/<%=member._id%>" class="btn btn btn-default">(TODO)Edit</a>
            <a href="" class="deleteMember btn btn btn-danger" data-user="<%=member.userId%>" data-draw="<%=draw._id%>">Delete</a>
          </div>
      </div>
          <% }) %>

        <%if (modal) { %>
          <div class="alert alert-success" role="alert">
            <%=modalText%>
          </div>
          <% } %>
        </main>


        <footer class="mastfoot mt-auto">
          <div class="inner">
            <% include partials/footer %>
          </div>
        </footer>
      </div>
    </body>
    </html>
