<html>
<head>
  <% include partials/head %>
</head>

<body class="text-center">
  <div class="container-fluid h-100">

    <div class="row h-100">
        <% include partials/left %>

        <% include partials/right_start %>
              <div class="text-center">
      <h1 class="cover-heading"><%= title %></h1>

      <a href="/members/new/<%=draw._id%>" class="btn btn-lg btn-danger">Add</a>

      <% members.forEach(function(member){ %>
      <div class="input-group">
          <label class="form-control"><%= member.userName %></label>
          <div class="input-group-append" >
            <a href="/member/<%=member._id%>" class="btn btn btn-default">(TODO)Edit</a>
            <a href="" class="deleteMember btn btn btn-danger" data-user="<%=member.userId%>" data-draw="<%=draw._id%>">Delete</a>
          </div>
      </div>
          <% }) %>

        <%if (modal) { %>
          <div class="alert alert-success" role="alert">
            <%=modalText%>
          </div>
          <% } %>
        </div>
      </div>
      </div>
    </body>
    </html>
