<html>
<head>
  <% include partials/head %>
</head>

<body class="text-center">
  <div class="container-fluid h-100">

    <div class="row h-100">
      <% include partials/left %>

      <% include partials/right_start %>
      <div class= "text-center">
      <h1 class="cover-heading"><%= title %></h1>


        <% users.forEach(function(user){ %>
          <div class="input-group">
          <label class="form-control"><%= user.first_name %> (<%= user.email %>)</label>
          <div class="input-group-append">
            <a href="/users/<%=user._id%>" class="btn btn btn-default">Edit</a>
            <a href="#" class="deleteUser btn btn btn-danger" data-id="<%=user._id%>">Delete</a>
          </div>


          </div>
        <% }) %>


        <%if (modal) { %>
          <div class="alert alert-success" role="alert">
            <%=modalText%>
          </div>
          <% } %>
            </div>
          <% include partials/right_end %>






      </div>
      </div>
    </body>
    </html>
